page-home {
    .content-md {
        background-color: #ec9627;
    }
    .card-md {
        -webkit-box-shadow: -1px 1px 37px -4px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -1px 1px 37px -4px rgba(0, 0, 0, 0.75);
        box-shadow: -1px 1px 37px -4px rgba(0, 0, 0, 0.75);
    }
    .label-md {
        margin: 13px 8px 1px 0;
    }
}